/***************************************************
Add your Google Fonts
Update ALL the named colours to create a monochromatic scheme
Style the menus - one horizontally and one vertically
Add the hover/active effects to your menu items
***************************************************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
    line-height: 1.6;
    /* ADD the Google sans-serif font to this font stack */
    font-family: Imprima, helvetica, arial, sans-serif;
}
html, body {
    background-color: #5C8FB2;
}
h1 {
    font-size: 6.854rem;
    /* ADD the Google serif font to this font stack */
    font-family: "Cantata One", 'Palatino Linotype', 'Book Antiqua', Palatino, serif; 
    padding: 1rem 2rem;
}
h2 {
    font-size: 4.23rem;
    /* ADD the Google serif font to this font stack */
    font-family: "Cantata One", 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    padding: 1rem 2rem;
}
nav li {
    font-size: 2.618rem;
}
p {
    font-size: 1.618rem;
    padding: 1rem 2rem;
}
.wrapper {
    max-width: 1400px; 
    width: 80%;
    margin: 0 auto;
    background-color: #EEF8FF;
    color: #204966;
}
header {
    border-bottom: 0.8rem solid #204966;
    background-color: #517F9E;
    color: #EEF8FF;
}






/********************* Add fonts colors, etc. to code above **********************/



/********************* Horizontal Menu *************************/

.menu-h{
    width: 100%;
    
    
}
    .menu-h li {
        /* style the list items to remove the bullets 
        and line up horizontally
        and take up 20% of the width of the ul */
        text-align: center;
        list-style: none;
        float:left;
        width:20%;
        line-height: 1.2;
        background: #204966;
        padding: 10px;
        font-variant: small-caps;
        
        
    }
        .menu-h a,
        .menu-h a:link,
        .menu-h a:visited {
            /* style the anchors to fill the entire width of the li 
            make sure there is padding around your text */
            display: block; /* so you can select the link in the entire block */
            color:#5C8FB2;
            text-decoration:none;
        }
        .menu-h a:hover,
        .menu-h a:active {
            color: #EEF8FF;
        }



/********************* Vertical Menu *************************/


.menu-v{
    width: 20%;
    float:left;
    margin-top:40px;

/*    border-right: 5px dotted #5C8FB2;*/
  
/*    border-style:*/
}
    .menu-v li {
        /* style the list items to remove the bullets 
        and line up vertically
        and take up 100% of the width of the ul */
/*        margin-top: 5px;*/
        list-style: none;
        width:100%;
        font-variant: small-caps;

        
    }
        .menu-v a,
        .menu-v a:link,
        .menu-v a:visited {
            /* style the anchors to fill the entire width of the li */
            display: block; /* so you can select the link in the entire block */
            color:#5C8FB2;
            
            text-decoration:none;
            text-align: center;
        }
        .menu-v a:hover,
        .menu-v a:active {
            color: #EEF8FF;
            background-color: #204966;
            border-left: 25px solid #5C8FB2;
            
        }
main {
    width:80%;
    float: right;
}
footer {
    clear:both;
}